@import "../../scss/variables";


.align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  background: radial-gradient($primaryBackgroundColor, $secondaryBackgroundColor);

  &__item {

    &--start {
      align-self: flex-start;
    }

    &--end {
      align-self: flex-end;
    }
  }
}
.site {
  &__logo {
    margin-bottom: 2rem;
  }

}
input {
  border: 0;
  font: inherit;

  &::placeholder {
    color: $black;
  }
}
.form {
  &__field {
    margin-bottom: 1rem;
  }
  input {
    outline: 0;
    padding: .5rem 1rem;
    &[type="email"],
    &[type="text"],
    &[type="password"] {
      width: 100%;
    }
  }
}

.grid {
  max-width: 25rem;
  width: 90%;
}

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

a {
  color: $secondaryBackgroundColor
}

.register {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 80%, $secondaryBackgroundColor 20%);
  text-align: center;
  padding: 4rem 2rem;
  margin-top: 2rem;
  img{
    width: 90%;
  }
  input {
    border: 1px solid $secondaryBackgroundColor;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;

    &[type="email"],
    &[type="text"],
    &[type="password"] {
      background-repeat: no-repeat;
      background-size: 1.5rem;
      background-position: 1rem 50%;
    }
    &[type="submit"] {
      background-image: linear-gradient(160deg, $primaryBackgroundColor 0%, $secondaryBackgroundColor 100%);
      color: #fff;
      margin-bottom: 2rem;
      width: 100%;
      cursor: pointer;
    }
  }
}
