@import "../../scss/variables";

.userDashboard{
    background: url("../../images/background.svg");
    min-height: 100vh;
    img{
        margin: 100px 0 30px 0;
        width: 40vh;
    }
    h1{
        color: $secondaryBackgroundColor;
        font-size: 35px;
    }
    &__card{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

@media (max-width: 1024px) {
    .userDashboard{
        &__card{
            .card{
                margin: 0px;      
            }
        }
    }
}