@import "../scss/variables";
@import url('https://fonts.googleapis.com/css2?family=Cinzel');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Cinzel', serif;
    overflow-x: hidden;
  }

