@import "./variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    background: radial-gradient($primaryBackgroundColor, $secondaryBackgroundColor);
  }