@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$primaryBackgroundColor : rgb(80, 133, 247);
$secondaryBackgroundColor : rgb(1, 37, 116);
$whiteColor: #fff;
$blackColor: #000;