.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:radial-gradient(rgb(80, 133, 247), rgb(1, 37, 116));
    color: white;
    text-align: center;      
  }