@import "./variables";
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient($primaryBackgroundColor, $secondaryBackgroundColor,0.2);
    color: white;
    text-align: center;      
  }