@import "../../scss/variables";
.card{
    border: 2px solid $primaryBackgroundColor;
    .card-title{
        font-weight: 800;
        font-size: 17.5px;
        color: $secondaryBackgroundColor;
    }
    .card-text{
        font-family: "Poppins", sans-serif;
    }
}