@import "../../scss/variables";

.cartpage{
    background-image: url("../../images/background.svg");
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__products{
        width: 100%;
        margin-left: 20rem;
        margin-top: 7rem;    
    }
    img{
        width: 50vh;
        margin: 7rem 1rem 5rem 20rem;
    }  
}
.cartpage-alternative{

        background: radial-gradient($primaryBackgroundColor, $secondaryBackgroundColor);
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &__products{
            width: 100%;
            margin-left: 20rem;
            margin-top: 7rem;
            
        }
        img{
            width: 50vh;
            margin: 7rem 1rem 5rem 20rem;
        }  
    }


.checkout{  
    background-image: url("../../images/background.svg");
    
    min-height: 60vh;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 4rem;
    h2{
        font-size: 30px;
        color: $secondaryBackgroundColor;  
    }
    img{
        width: 60vh;
    }

}

@media (max-width: 1024px) {
    .cartpage{
        flex-direction: column;
        &__products{
            margin-left: 0;
            margin-top: 1rem;
        }
        img{
            width: 30vh;
            margin: 5rem 0 0 0;
        }
    }
    .cartpage-alternative{
        flex-direction: column;
        justify-content: center;
        &__products{
            margin-left: 0;
            margin-top: 1rem;
        }
        img{
            width: 30vh;
            margin: 5rem 0 0 0;
        }
    }
    .checkout{
        margin-top:50px;
        margin-top: 3rem;
        display: flex;
        align-items:center;
        justify-self: center;
        float: right;
        flex-direction: column;
        h2{
            font-size: 28px;
            color: $secondaryBackgroundColor;
            float: left;
        } 
        img{
            width: 40vh;
        }
    } 
  }
  