@import "../../scss/variables";

.homescreen{
    min-height: 100vh;
    display: flex;
    background: radial-gradient($primaryBackgroundColor, $secondaryBackgroundColor);
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    &__text{
        display: flex;
        flex-direction: column;
        text-align: center;
        h1{
            font-size: 2.5rem;
            color:$whiteColor; 
            letter-spacing: 2px;
        }
        p{
            color: $whiteColor;
        }
    }
    img{
      width:90vh;
    }
}

.productpage{
    min-height: 100vh;
    background-image: url("../../images/background.svg");
    span{
        color: #fff;
        background-color: $secondaryBackgroundColor;
        padding: 10px;
        border-radius: 999px;
    }
}

@media (max-width: 1024px) {
    .homescreen{
        flex-direction: column;
        justify-content: space-around;
        img{
            width: 45vh;
        }
        &__text{
            h1{
                font-size: 2rem;
                margin-top: 150px;
            }
        }
    }
  }
  