@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background: radial-gradient(rgb(80, 133, 247), rgb(5, 46, 136));
}

.header {
  
  .navbar {
    
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    position: fixed;
    width: 100%;

    &__logo {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #fff;
    }

    &__links {
      display: flex;
      transition: 0.3s ease all;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 1.05rem;
          margin: 0 1.2rem;
          position: relative;
        }

        a::after {
          position: absolute;
          content: "";
          bottom: -4px;
          left: 0;
          height: 2px;
          width: 0%;
          background-color: #fff;
          display: block;
        }

        a:hover::after {
          width: 100%;
          transition: 0.4s ease all;
        }
      }
    }

    &--active {
      transform: translateX(0%);
    }
  }

  .hamburger-menu {
    cursor: pointer;
    display: none;

    div {
      color: #fff;
      font-size: 1.05rem;
      margin: 0 1.2rem;
      margin: 6px;
      border-radius: 10px;
      transition: 0.7s ease-in-out all;
    }
  }
  }



@media (max-width: 725px) {
  .navbar {
    &__links {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 200px;
      background: rgb(1, 37, 116);
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transform: translateX(-100%);
      z-index: 10;
    }
    .hamburger-menu {
      display: block;
    }
    .bar-change .bar1 {
      transform: rotate(-360deg);
    }
  }

}
