@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

$primaryBackgroundColor : rgb(80, 133, 247);
$secondaryBackgroundColor : rgb(1, 37, 116);
$whiteColor: #fff;
$blackColor: #000;
$black: #000000;
$blue-ribbon: #0069ec;
$dodger-blue: #25a3ff;
$mine-shaft: #333333;
$scorpion: #565656;
$torch-red: #ff0033;
$white: #ffffff;